@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <div class="col-md-4">
        <p>You do not have permission to access this resource.</p>
        <p><a asp-area="" asp-controller="Home" asp-action="Index">Return to Home</a></p>
    </div>
</div>
